<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="observability_new.design.Activator"
               id="observability_new.design"
	       name="observability_new">
    </component>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <category
           id="observability_new.design.commands.category"
           name="%category.name">
     </category>
     <command
           categoryId="observability_new.design.commands.category"
           id="observability_new.design.commands.sampleCommand"
           name="%command.name">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="observability_new.design.handlers.SampleHandler"
           commandId="observability_new.design.commands.sampleCommand">
     </handler>
  </extension>
  <extension
        point="org.eclipse.ui.bindings">
     <key
           commandId="observability_new.design.commands.sampleCommand"
           contextId="org.eclipse.ui.contexts.window"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1+6">
     </key>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="menu:org.eclipse.ui.main.menu?after=additions">
        <menu
              id="observability_new.design.menus.sampleMenu"
              label="%menu.label"
              mnemonic="%menu.mnemonic">
           <command
                 commandId="observability_new.design.commands.sampleCommand"
                 id="observability_new.design.menus.sampleCommand"
                 mnemonic="%command.mnemonic"
                 style="pulldown">
           </command>
        </menu>
     </menuContribution>
     <menuContribution
           locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
        <toolbar
              id="observability_new.design.toolbars.sampleToolbar">
           <command
                 commandId="observability_new.design.commands.sampleCommand"
                 icon="icons/sample.gif"
                 id="observability_new.design.toolbars.sampleCommand"
                 tooltip="%command.tooltip">
           </command>
        </toolbar>
     </menuContribution>
  </extension>
</plugin>
