<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="com.observability.modeling.design.Activator"
               id="com.observability.modeling.design"
	       name="observability">
    </component>
  </extension>
</plugin>
