<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated observability_emf -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="observability_emf.presentation.Observability_emfModelWizardID"
            name="%_UI_Observability_emfModelWizard_label"
            class="observability_emf.presentation.Observability_emfModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Observability_emfModelFile.gif">
         <description>%_UI_Observability_emfModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated observability_emf -->
      <editor
            id="observability_emf.presentation.Observability_emfEditorID"
            name="%_UI_Observability_emfEditor_label"
            icon="icons/full/obj16/Observability_emfModelFile.gif"
            extensions="observability_emf"
            class="observability_emf.presentation.Observability_emfEditor"
            contributorClass="observability_emf.presentation.Observability_emfActionBarContributor">
      </editor>
   </extension>

</plugin>
