<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated observability_new -->
      <package
            uri="http://www.example.org/observability_new"
            class="observability_new.Observability_newPackage"
            genModel="model/observability_new.genmodel"/>
   </extension>

</plugin>
