<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated observability_emf -->
      <package
            uri="http://www.example.org/observability_emf"
            class="observability_emf.Observability_emfPackage"
            genModel="model/observability_emf.genmodel"/>
   </extension>

</plugin>
